<h1>Listing price_lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Branch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @price_lists.each do |price_list| %>
  <tr>
    <td><%= price_list.name %></td>
    <td><%= price_list.branch %></td>
    <td><%= link_to 'Show', price_list %></td>
    <td><%= link_to 'Edit', edit_pharmacy_price_list_path(price_list) %></td>
    <td><%= link_to 'Destroy', price_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Price list', new_pharmacy_price_list_path %>
